{% extends "Siderbar/base_sidebar.html" %}
{% load static %}

{% block title %}Cadastro de Sementes - AgroConecta{% endblock %}

{% block content %}

<div class="form-page-container">
    
    <h1 class="page-title">Cadastro de Sementes 🌱</h1>

    <form method="post" class="app-form">
        {% csrf_token %}

        <div class="form-group">
            <label for="id_nome">Nome da semente:</label>
            <input type="text" id="id_nome" name="nome" class="form-campo" placeholder="Ex: Milho Híbrido, Soja RR, Sorgo Forrageiro" required>
        </div>

        <div class="form-group">
            <label for="id_descricao">Descrição:</label>
            <textarea id="id_descricao" name="descricao" class="form-campo textarea-field" placeholder="Informações adicionais sobre a semente (opcional)"></textarea>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                Cadastrar <i class="bi bi-check-circle-fill"></i>
            </button>
            
            <a href="{% url 'gestao_sementes' %}" class="btn btn-cancelar-secondary">
                Voltar <i class="bi bi-arrow-left"></i> 
            </a>
            
        </div>
    </form>
</div>

{% endblock content %}