{% extends "Siderbar/base_sidebar.html" %}
{% load static %}

{% block title %}Editar Semente - AgroConecta{% endblock %}

{% block content %}

{% if messages %}
<script>
    {% for message in messages %}
     alert("{{ message|escapejs }}");
    {% endfor %}
</script>
{% endif %}

<div class="form-page-container">
    
    <h1 class="page-title">Editar Semente 🌱</h1>

    <form method="post" class="app-form">
        {% csrf_token %}

        <div class="form-group">
            <label for="id_nome">Nome da Semente:</label>
            <input 
                type="text" 
                id="id_nome" 
                name="nome" 
                class="form-campo" 
                value="{{ semente.nome }}" 
                placeholder="Ex: Milho Híbrido" 
                required>
        </div>

        <div class="form-group">
            <label for="id_descricao">Descrição:</label>
            <textarea 
                id="id_descricao" 
                name="descricao" 
                class="form-campo textarea-field" 
                placeholder="Informações adicionais sobre a semente (opcional)"
            >{{ semente.descricao }}</textarea>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary btn-save">
                Salvar Alterações <i class="bi bi-check-circle-fill"></i>
            </button>
            
            <a href="{% url 'detalhes_semente' semente.idtiposemente %}" class="btn btn-cancelar-secondary">
                Cancelar <i class="bi bi-x-circle-fill"></i> 
            </a>
            
        </div>
    </form>
</div>

{% endblock content %}