{% extends "Siderbar/base_sidebar.html" %}
{% load static %}

{% block title %}Gestão de Sementes (Lista) - AgroConecta{% endblock %}
{% block body_class %}sementes-lista-active{% endblock %} 
{% block content %}

{% if messages %}
<script>
    {% for message in messages %}
        alert("{{ message|escapejs }}");
    {% endfor %}
</script>
{% endif %}

<div class="lista-page">

    <div class="header-lista">
        <h1 class="titulo-lista">Gestão de Sementes <span class="emoji-folha">🌱</span></h1>
        
        <a href="{% url 'cadastrar_semente' %}" class="btn-adicionar-novo">
            <span class="icone-adicionar">+</span> Adicionar Nova Semente
        </a>
    </div>

    <div class="lista-cards">
        {% for seed in sementes %}
                <div class="card-item-semente">

                    <h2 class="semente-nome">{{ seed.obj.nome }}</h2>

                    <div class="semente-info">
                        <p><strong>Descrição:</strong> {{ seed.obj.descricao }}</p>

                        <p>
                            <strong>Armazéns Associados:</strong>
                            {% if seed.armazens %}
                                {{ seed.armazens|join:", " }}
                            {% else %}
                                Nenhum armazém possui esta semente
                            {% endif %}
                        </p>

                        <p><strong>Quantidade Total:</strong> {{ seed.total_kg }} kg</p>

                        <p><strong>Status:</strong> {{ seed.status }}</p>
                    </div>

                    <div class="semente-botoes">
                        <a href="{% url 'detalhes_semente' seed.obj.idtiposemente %}" class="btn-detalhes">Ver Detalhes</a>
                        <a href="{% url 'editar_semente' seed.obj.idtiposemente %}" class="btn-editar">Editar</a>
                    </div>
                </div>
            {% empty %}
                <p>Não há sementes cadastradas ainda.</p>
            {% endfor %}
        </div>

    
    <img src="{% static 'img/fazendeiro.svg' %}" class="mascote-lista" alt="Mascote Agro">

</div>

{% endblock %}