{% extends "base/base.html" %}
{% load static %}

{% block title %}AgroConecta — Home{% endblock %}

{% block content %}
<main class="hero">
  
  <div class="hero__bg"></div>

  <section class="hero__triangle">
    <img src="{% static 'img/logo-agroconecta.svg' %}" class="hero__logo" alt="Logo">

    <div class="hero__actions">
      <a href="{% url 'login_view' %}" class="btn btn--primary">Login</a>
      <a href="{% url 'cadastro_cooperativa' %}"class="btn btn--ghost">Cadastrar Cooperativa</a>
      <a href="{% url 'cadastro_gestor' %}"class="btn btn--ghost">Cadastrar Gestor</a>
    </div>
  </section>
</main>
{% endblock %}
