{% extends "Siderbar/base_sidebar.html" %}

{% block title %}GestaoCooperativa - AgroConecta{% endblock %}

{% block content %}

{% if messages %}
  <script>
      {% for message in messages %}
          alert("{{ message|escapejs }}");
      {% endfor %}
  </script>
{% endif %}

<div class="cooperativas-container">
    <header class="cooperativas-header">
        <h1>Gestão de Cooperativas 🌱</h1>

        <a href="{% url 'cadastro_cooperativa' %}" class="add-cooperativa-btn">
            <i class="bi bi-plus-circle"></i> Adicionar Nova Cooperativa
        </a>
    </header>

    <div class="cooperativas-list-grid">
        {% for coop in cooperativas %}
            <div class="cooperativa-card">
                <h3>{{ coop.razaosocial }}</h3>

                <p><strong>CNPJ:</strong> {{ coop.cnpj }}</p>
                <p><strong>Responsável:</strong> {{ coop.nomeresponsavel }}</p>

                {# por enquanto status fixo, depois você pode trazer do banco #}
                <p><strong>Status:</strong> Ativa</p>

                <p>
                    <strong>Número de solicitações:</strong>
                    {{ coop.total_solicitacoes }}
                </p>

                <div class="card-actions">
                <a href="{% url 'ver_cooperativa' coop.cnpj %}" class="action-btn view-btn">
                    <i class="bi bi-eye"></i> Ver Detalhes
                </a>
                <a href="{% url 'editar_cooperativa' coop.cnpj %}" class="action-btn edit-btn">
                    <i class="bi bi-pencil-square"></i> Editar
                </a>
                </div>
            </div>
        {% empty %}
            <p>Não há cooperativas cadastradas ainda.</p>
        {% endfor %}
    </div>
</div>


{% endblock %}