{% load static %}

<nav class="sidebar">
    
    <div class="sidebar-header">
        
        <a href="{% url 'home' %}" class="logo-link">
            <img src="{% static 'img/image.png' %}" alt="Logo AgroConecta" class="logo-icon">
        </a>
        
        <a href="{% url 'perfil_gestor' %}" class="profile-link">
            <img src="{% static 'img/avatar.svg' %}" alt="Perfil do Gestor" class="profile-icon">
        </a>
        
    </div>
    
    <hr class="sidebar-divider">

    <div class="btn-expandir">
        <i class="bi bi-list"></i>
    </div>

    <ul>
        <li class="item-menu">
            <a href="{% url 'gestao_cooperativa' %}">
                <span class="icon"><i class="bi bi-building-fill"></i></span>
                <span class="txt-link">Gestão Cooperativas</span>
            </a>
        </li>
        <li class="item-menu">
            <a href="{% url 'gestao_armazens' %}">
                <span class="icon"><i class="bi bi-layout-text-sidebar"></i></span>
                <span class="txt-link">Gestão de armazéns</span>
            </a>
        </li>
        <li class="item-menu">
            <a href="{% url 'gestao_sementes' %}">
                <span class="icon"><i class="bi bi-handbag"></i></span>
                <span class="txt-link">Gestão de sementes</span>
            </a>
        </li>
        <li class="item-menu">
            <a href="{% url 'gestao_lotes' %}">
                <span class="icon"><i class="bi bi-qr-code"></i></span>
                <span class="txt-link">Gestão de lotes</span>
            </a>
        </li>
        <li class="item-menu">
            <a href="{% url 'gestao_solicitacoes' %}">
                <span class="icon"><i class="bi bi-clipboard-data-fill"></i></span>
                <span class="txt-link">Gestão de solicitações</span>
            </a>
        </li>
        <li class="item-menu">
            <a href="{% url 'dashboard' %}"> 
                <span class="icon"><i class="bi bi-ui-radios-grid"></i></span>
                <span class="txt-link">Dashboard</span>
            </a>
        </li>
    </ul>
</nav>
